@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  margin: 0;
  padding: 0;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  color: rgb(77, 100, 121);
  background-repeat: no-repeat;
  background-size: cover;
}
h4 {
  margin-top: 1.5rem;
}
h3 {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.2);
  margin: 10px;
}
h5 {
  margin: 0px;
  transform: translateY(-30px);
}
footer {
  flex-direction: column;
  color: red;
  display: block;
  margin-top: 22rem;
}

#generator {
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  animation-iteration-count: infinite;
  animation-name: gradient;
  animation-duration: 4s;
}

#generator:hover {
  cursor: pointer;
}

@keyframes gradient {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 550px) {
  #generator {
    width: 90%;
    margin: 10px;
    margin-top: 50px;
  }
}
